# Ignorar entornos virtuales de compilación
build_venv/
venv/
env/

# Ignorar directorios de compilación
build/
dist/
python/

# Ignorar archivos generados por PyInstaller
*.spec~
*.log

# Ignorar archivos comprimidos de distribución
*.zip
*.tar.gz
*.dmg
*.deb
*.rpm

# Ignorar archivos temporales
*.pyc
__pycache__/
.DS_Store
Thumbs.db

# Ignorar checksums
checksums.txt
checksums.sha256

MiAppMarcas.exe
MiAppMarcas-Setup.exe
InnosetupScript.iss
GUIA_PASO_A_PASO.md
log_config.txt

assets/

# Omitir la carpeta del entorno virtual
.venv/
venv/